/* Globale styles her */

/*Fonts*/
@font-face {
  font-family: "Cabin";
  src: url(../fonts/Cabin/static/Cabin-Medium.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

/*OBS RYDDE OP I FONT FILER!!!*/

/*Variables*/
:root {
  --primary01: #ffcc4a;
  --primary02: #4eaf4e;
  --primary03: #181818;
  --secondary01: #f5f5f5;
  --secondary02: #ffffff;
  --text01: #1c1c1c;
  --text02: #595566;
  --font01: "Cabin";
  --font02: "Lato";
  --fontweight01: 600;
  --fontweight02: 400;
  /* --lineheight130: 1.3; */

  /*Font sizes*/
  --step--1: clamp(0.6rem, 0.5478rem + 0.2612vw, 0.7502rem);
  --step-0: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --step-1: clamp(0.9375rem, 0.7999rem + 0.6878vw, 1.333rem);
  --step-2: clamp(1.1719rem, 0.9614rem + 1.0522vw, 1.7769rem);
  --step-3: clamp(1.4648rem, 1.1505rem + 1.5717vw, 2.3686rem);
  --step-4: clamp(1.8311rem, 1.3697rem + 2.3066vw, 3.1573rem);
  --step-5: clamp(2.2888rem, 1.621rem + 3.339vw, 4.2087rem);
  --step-6: clamp(2.861rem, 1.9048rem + 4.7812vw, 5.6102rem);

  /*Line height*/
  --space-3xs: clamp(0.1875rem, 0.1658rem + 0.1087vw, 0.25rem);
  --space-2xs: clamp(0.375rem, 0.3315rem + 0.2174vw, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.4973rem + 0.3261vw, 0.75rem);
  --space-s: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --space-m: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
  --space-l: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
  --space-xl: clamp(2.25rem, 1.9891rem + 1.3043vw, 3rem);
  --space-2xl: clamp(3rem, 2.6522rem + 1.7391vw, 4rem);
  --space-3xl: clamp(4.5rem, 3.9783rem + 2.6087vw, 6rem);
  --space-4xl: clamp(4.5rem, 3.9783rem + 2.6087vw, 6rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.1875rem, 0.0788rem + 0.5435vw, 0.5rem);
  --space-2xs-xs: clamp(0.375rem, 0.2446rem + 0.6522vw, 0.75rem);
  --space-xs-s: clamp(0.5625rem, 0.4103rem + 0.7609vw, 1rem);
  --space-s-m: clamp(0.75rem, 0.4891rem + 1.3043vw, 1.5rem);
  --space-m-l: clamp(1.125rem, 0.8207rem + 1.5217vw, 2rem);
  --space-l-xl: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);
  --space-xl-2xl: clamp(2.25rem, 1.6413rem + 3.0435vw, 4rem);
  --space-2xl-3xl: clamp(3rem, 1.9565rem + 5.2174vw, 6rem);

  /* Custom pairs */
  --space-s-l: clamp(0.75rem, 0.3152rem + 2.1739vw, 2rem);
}

/*Styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text01);
  font-family: var(--font01);
  font-style: normal;
  font-weight: var(--fontweight01);
  max-width: 65cm;
}
h1 {
  font-size: var(--step-5);
  line-height: var(--space-4xl);
}
h2 {
  font-size: var(--step-4);
  line-height: var(--space-3xl);
}
h3 {
  font-size: var(--step-3);
  line-height: var(--space-2xl);
}
h4 {
  font-size: var(--step-2);
  line-height: var(--space-xl);
}
h5 {
  font-size: var(--step-1);
  line-height: var(--space-l);
}
h6 {
  font-size: var(--step-1);
  line-height: var(--space-l);
}

p,
li,
a {
  color: var(--text02);
  font-family: var(--font02);
  font-style: normal;
  font-weight: var(--fontweight02);
  font-size: var(--step-0);
  line-height: var(--space-m);
  max-width: 65ch;
}
