---
import "../styles/main.css";

const { buttonText , class: className, popovertarget} = Astro.props;
---

<button class={className} popovertarget={popovertarget}>{buttonText}</button>

<style>
button {
display: flex;
padding: 16px 37px;
justify-content: center;
/* align-items: center; */
gap: 10px;
border-radius: 42px;
width: fit-content;
height: fit-content;


}
/* align-items: flex-start; */

.default_black {
background: var(--primary03);
color: var(--secondary02);
}
.default_black:hover {
background: var(--secondary02);
border: 1px solid var(--primary03);
color: var(--primary03);   
}

.default_white {
background: var(--secondary02);
color: var(--primary03);
}
.default_white:hover {
background: var(--primary03);
border: 1px solid var(--secondary02); 
color: var(--secondary02);  
}
.default_yellow {
background: var(--primary01); 
color: var(--primary03); 
}
.default_yellow:hover {
background: #FFE5A2; 
color: var(--primary03);  
}
</style>