---
//@ts-nocheck
const employeesData = await fetch("https://frontend-design-theme.netlify.app/api/employees").then((response) => response.json());
console.log(employeesData);

import EmployeeCard from "./EmployeeCard.astro";

const {antal = 6} = Astro.props;
---

<section>
    <ul role="list">
        {
            employeesData.slice(0, antal).map((employee, index) => (
                <EmployeeCard employee={employee} index={index}/>
            ))
        }
    </ul>
</section>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
</style>