---
import "../styles/main.css";
---

<footer>
<h5>AskExperts</h5>
<div></div>
<p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</footer>

<style>
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 46px 0px;
    background-color: var(--primary03);
    z-index: -1;

    h5, p {
        color: var(--secondary02);
    }
     div {
        content: '';
        border: 1px solid var(--text02);
        /* width: 1200px;  */
        width: 70%;
     }
    
}
</style>