---
import "../styles/main.css";
import Header from "./Header.astro";
//import Subscribe from "../components/Subscribe.astro";
import Footer from "./Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AskExperts</title>
  </head>
  <Header/>
  <body class="flow">
    <slot />
    <!-- <Subscribe/> -->
  </body>
<Footer/>
</html>

<style>
  body {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(0, 1200px) [content-end] 1fr [full-end];
  margin-inline: auto;
 
  /* max-inline-size: 70ch;
  margin-block: 3rem; */
/* h1 {
  grid-column: content;
}
* + * {
  grid-column: content;
} */
  header, footer {
    grid-column: full;
  }
  > * {
    grid-column: content;
  }
  }
  .flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
img {
  margin-block-start: var(--flow-space, 1em);
  margin-block-end: var(--flow-space, 1em);
}

  @layer components {

  }
</style>


